* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFE4C4;  
  font-family: 'Century Gothic', sans-serif;
  display: flex;
  flex-direction: column;
}

#title  {
  font-family: 'Century Gothic';
  font-size: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: #CD853F; 
  margin: auto;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 40px;
}

#description {
  margin-bottom: 0;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}


#survey-form {
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 5px;
}


.right {
  display: flex;
  width: 50%;
}

ul {
  padding-left: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


input[type=text], 
input[type=email], 
input[type=number], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 5px 5px;    
}

textarea {
    height: 150px;
    resize: none;
}

#like, #dislike {
  margin: 10px 0;
}

 
input[type=radio], input[type=checkbox] {
  float: left;
}


input[type=submit] {
  background-color: black;
    color: white;
    padding: 12px 60px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}


select:focus:invalid, input:focus:invalid {
  box-shadow: 0 0 5px 1px #ff0000;
}

footer p {
  text-align: center;
  font-size: 14px;
}

footer p a {
  text-decoration: none;
  color: #000;
}

footer p a:hover {
  color: #0099cc;
}
  input[type=text], 
  input[type=email], 
  input[type=number], select, textarea {
    margin: 5px 0; 
  }
  
}